<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @shelter.name %>
      </h1>
    </div>
  </div>
</section>

<% if flash[:notice] %>
  <% flash.each do |key, message| %>
  <div class="notification is-danger">
    <%= message %>
  </div>
  <% end %>
<% end %>

<div class="card">
  <div class="card-content">
    <div class="content">
      <p><span>Address:</span> <%= @shelter.address %></p>
      <p><span>City:</span> <%= @shelter.city %></p>
      <p><span>State:</span> <%= @shelter.state %></p>
      <p><span>Zip:</span> <%= @shelter.zip %></p>
      <p><span>Pet count:</span> <%= @shelter.pet_count %></p>
      <p><span>Average rating:</span> <%= @shelter.average_rating %></p>
      <p><span>Applications count:</span> <%= @shelter.count_applications %></p>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to "edit", "/shelters/#{@shelter.id}/edit", class: "card-footer-item" %>
    <%= link_to "delete", "/shelters/#{@shelter.id}", method: :delete, class: "card-footer-item" %>
    <%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new", class: "card-footer-item" %>
    <%= link_to "Pets", "/shelters/#{@shelter.id}/pets", class: "card-footer-item" %>
  </footer>
</div>

  <h2>Reviews</h2>
  <% @reviews.each do |review| %>
  <div class="reviews" id="review_<%=  review.id %>">
    <h5 class="title is-5"><%= review.title %></h5>
    <img src="<%= review.image %>" alt="">
    <p><span>Rating: </span><%= review.rating %></p>
    <p><span>Description: </span><%= review.content %></p>
    <div>
      <%= link_to "edit review", "/shelters/reviews/#{review.id}/edit" , class: "button is-primary is-small"%>
      <%= link_to "delete review", "/shelters/reviews/#{review.id}" , method: :delete ,class: "button is-danger is-small", data:{confirm: "Are you sure?"}%>
    </div>
    <hr>
  </div>
  <% end %>

  <%= link_to "add review", "/shelters/#{@shelter.id}/new" %>
