
<%= render partial: '/partials/hero', locals: {page_title: "Submit Application"} %>

<% if flash[:notice] %>
  <% flash.each do |key, message| %>
  <div class="notification is-success">
    <%= message %>
  </div>
  <% end %>
<% end %>
<% if flash[:errors] %>
  <% flash[:errors].each do | message| %>
  <div class="notification is-danger">
    <%= message %>
  </div>
  <% end %>
<% end %>
<%= form_tag"/applications", method: :post do %>
<h2 class="subtitle">Choose the pet to adopt.</h2>
  <% favorites.find_pets.each do |pet| %>
  <label class="checkbox-<%= pet.id %>">
    <%= check_box_tag "pet_ids[]", pet.id, id: "pet_#{pet.id}" %>
    <%= pet.name %>
  </label>
  <br>
  <% end %>

<div class="field">
  <%= label_tag :name, nil, class: "label" %>
  <%= text_field_tag :name, nil, class: "input" %>
</div>
<div class="field">
  <%= label_tag :address, nil, class: "label" %>
  <%= text_field_tag :address, nil, class: "input" %>
</div>
<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
        <%= label_tag :city, nil, class: "label" %>
        <%= text_field_tag :city, nil, class: "input" %>
      </p>
    </div>
    <div class="field">
      <div class="control is-expanded">
        <%= label_tag :state, nil, class: "label" %>
        <div class="select">
          <%= select_tag :state, options_for_select(
          ['AL', 'AK', 'AS', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FM', 'FL', 'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MH', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 'OH', 'OK',
          'OR', 'PW', 'PA', 'PR',
           'RI', 'SC', 'SD', 'TN',
           'TX', 'UT', 'VT', 'VI', 'VA',
           'WA', 'WV', 'WI', 'WY' ]),prompt: "Choose state",
            class: "input" %>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <%= label_tag :zip, nil, class: "label" %>
  <%= text_field_tag :zip, nil, class: "input" %>
</div>
<div class="field">
  <%= label_tag :phonenumber, nil, class: "label" %>
  <%= text_field_tag :phonenumber, nil, class: "input" %>
</div>
<div class="field">
  <%= label_tag :description, nil, class: "label" %>
  <%= text_area_tag :description, nil, class: "textarea", rows: 10 %>
</div>
<%= submit_tag 'submit', class: "button is-primary" %>
<% end %>
