<section class="hero is-medium has-text-centered" id="header">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Application <%= @applicant.id %>
      </h1>
    </div>
  </div>
</section>
<% if flash[:error] %>
<div class="notification is-danger is-light">
  <%= flash[:error] %>
</div>
<% end %>

<div class="card">
  <div class="card-content">
    <div class="content">
      <p><span>Name:</span> <%= @applicant.name %></p>
      <p><span>Address:</span> <%= @applicant.address %></p>
      <p><span>City:</span><%= @applicant.city %></p>
      <p><span>State:</span><%= @applicant.state %></p>
      <p><span>Zip:</span><%= @applicant.zip %></p>
      <p><span>Phone number:</span> <%= @applicant.phonenumber %></p>
      <p><span>Description:</span> <%= @applicant.description %></p>
    </div>
  </div>
</div>

<h1>pets</h1>


<div class="columns is-multiline">
    <% @application_pets.each do |pet| %>
    <div class="column is-3" id="pet_<%= pet.id %>">
      <a href="/pets/<%= pet.id %>">
    <div class="card">
      <div class="card-image">
        <% if PetApplication.where(pet_id: pet.id).any?{|a_p| a_p.approval_status == 1} %>
          <span class="tag is-success approved">Already approved</span>
        <% end %>
        <figure class="image is-4by3">
          <img src=<%= pet.image %> alt="Placeholder image">
        </figure>
      </div>
        <footer class="card-footer">
        <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: "card-footer-item is-primary" %>
        </footer>
        <footer class="card-footer" id="approval-status-<%= pet.id %>">
          <% if PetApplication.where(pet_id: pet.id, applicant_id: @applicant.id).any?{|a_p| a_p.approval_status == 0} %> <%# refactor %>
            <%= link_to "Approve", "/pets/#{pet.id}/applications/approval?applicant=#{@applicant.id}", method: :patch, class: "card-footer-item is-primary" %>
          <% else %>
            <%= link_to "Unapprove", "/pets/#{pet.id}/applications/unapproval?applicant=#{@applicant.id}", method: :patch, class: "card-footer-item is-primary" %>
          <% end  %>
        </footer>
      </div>
      </a>
    </div>
    <% end %>

</div>
<% if @applicant.pets.count > 1 %>
  <section class="approve-all-footer">
    <%= link_to "approve all", "/pets/#{@applicant.id}/applications/approve_all?applicant=#{@applicant.id}", method: :patch, class: "button is-info" %>
</section>
<% end %>
