<section class="hero is-medium has-text-centered" id="header">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @pet.name %>
      </h1>
    </div>
  </div>
</section>

<% if flash %>
  <% flash.each do |key, message| %>
  <div class="notification is-success">
    <%= message %>
  </div>
  <% end %>
<% end %>

<div class="card">
  <div class="card-content">
    <div class="content">
      <figure class="image is-128x128 pet_image">
        <img src=<%= @pet.image %> alt=<%= @pet.name %> >
      </figure>
      <% if favorites.pet_data.include?(@pet.id) %>
          <%= link_to "remove from favorites", "/pets/#{@pet.id}/favorite", method: :delete %>
      <% else %>
          <%= link_to "add to favorites", "/pets/#{@pet.id}/favorite", method: :post %>
      <% end %>
      <%= link_to "view applications for #{@pet.name}", "/pets/#{@pet.id}/applications" %>
      <p><span>Age:</span> <%= @pet.age %></p>
      <p><span>Sex:</span> <%= @pet.sex %></p>
      <p><span>Status:</span><%= @pet.status %></p>
      <p><span>Description:</span> <%= @pet.description %></p>
      <% if @pet.status == "pending" %>
          <p>on hold for <%= @pet.applicants[-1].name %></p>
      <% end %>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to "Update Pet", "/pets/#{@pet.id}/edit", class: "card-footer-item" %>
    <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete , class: "card-footer-item" %>
    <% if @pet.status == "adoptible" %>
      <%= link_to "change to pending", "/pets/#{@pet.id}/adoptible", method: :patch , class: "card-footer-item" %>
    <% else %>
      <%= link_to "change to adoptible", "/pets/#{@pet.id}/adoptible", method: :patch , class: "card-footer-item" %>
    <% end %>
  </footer>
</div>
