<%= render partial: '/partials/hero', locals: {page_title: @pet.name} %>

<% if flash %>
  <% flash.each do |key, message| %>
  <div class="notification is-success">
    <%= message %>
  </div>
  <% end %>
<% end %>

<div class="card">
  <div class="card-content">
    <div class="content pet_info">
      <figure class="image is-128x128 pet_image">
        <img src=<%= @pet.image %> alt=<%= @pet.name %> >
      </figure>
      <div class="pet_data">
        <% if favorites.pet_data.include?(@pet.id) %>
        <%= link_to "remove from favorites", "/pets/#{@pet.id}/favorite", method: :delete, class: "button is-danger is-light" %>
        <% else %>
        <%= link_to "add to favorites", "/pets/#{@pet.id}/favorite", method: :post , class: "button is-info is-light"%>
        <% end %>
        <p><span class="title is-6">Age:</span> <%= @pet.age %></p>
        <p><span class="title is-6">Sex:</span> <%= @pet.sex %></p>
        <p><span class="title is-6">Status:</span><%= @pet.status %></p>
        <p><span class="title is-6">Description:</span> <%= @pet.description %></p>
        <% if !@pet_application.nil? && @pet.status == "pending" %>
        <p class="pet_applicant">on hold for <strong><%= Applicant.find(@pet_application.applicant_id).name %></strong></p>
        <% end %>

        <%= link_to "view applications for #{@pet.name}", "/pets/#{@pet.id}/applications" , class:"button is-link is-light"%>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to "Update Pet", "/pets/#{@pet.id}/edit", class: "card-footer-item" %>
    <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete , class: "card-footer-item" %>
    <% if @pet.status == "adoptible" %>
      <%= link_to "change to pending", "/pets/#{@pet.id}/adoptible", method: :patch , class: "card-footer-item" %>
    <% else %>
      <%= link_to "change to adoptible", "/pets/#{@pet.id}/adoptible", method: :patch , class: "card-footer-item" %>
    <% end %>
  </footer>
</div>
