<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @pet.name %>
      </h1>
    </div>
  </div>
</section>
<div class="card">
  <div class="card-content">
    <div class="content">
      <figure class="image is-128x128 pet_image">
        <img src=<%= @pet.image %> alt=<%= @pet.name %> >
      </figure>
      <p><span>Age:</span> <%= @pet.age %></p>
      <p><span>Sex:</span> <%= @pet.sex %></p>
      <p><span>Status:</span><%= @pet.status %></p>
      <p><span>Description:</span> <%= @pet.description %></p>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to "Update Pet", "/pets/#{@pet.id}/edit", class: "card-footer-item" %>
    <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete , class: "card-footer-item" %>
    <% if @pet.status == "adoptible" %>
      <%= link_to "change to pending", "/pets/#{@pet.id}/adoptible", method: :patch , class: "card-footer-item" %>
    <% else %>
      <%= link_to "change to adoptible", "/pets/#{@pet.id}/adoptible", method: :patch , class: "card-footer-item" %>
    <% end %>
  </footer>
</div>
