<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/1c3a6bea17.js"></script>
  </head>

  <body>
    <%= render 'partials/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
